<% if current_customer.admin? %>
  <% provide(:title, 'All customers') %>
  <h1>All customers</h1>

  <%= will_paginate %>

  <ul class="customers">
    <%= render @customers %>
  </ul>

  <%= will_paginate %>
<% else %>
  <h1>You are not authorized to view this page</h1>
<% end %>
