<% provide(:title, @product.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <h1>Title:  <%= @product.name %></h1>
        <br>
        <p>Description:  <%= @product.description %></p>
        <div class="pull-right">
          <p>asdfasdf</p>
        </div>
      </h1>
    </section>
  </aside>
</div>
